@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
  html, body, #root {
    height: 100%;
  }
  body {
    @apply bg-white text-slate-800 antialiased;
  }
}

/* Fix for aggressive skeleton animations */
@keyframes pulse {
  0%, 100% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.35;
  }
}

.animate-pulse {
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
