@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
  html, body, #root {
    height: 100%;
  }
  body {
    @apply bg-white text-slate-800 antialiased;
  }
}
